canvas {
    border: 1px black solid;
    position: absolute; top: 0px; left: 0px;
}
button {
    float: left;
    position: absolute; top: 550px; left: 50px;
}
a {
    float: right;
}
p {
    position: absolute; bottom: 0;
}